botocore
boto3
requests
ujson
warcio

# for link extraction and webgraph construction also:
idna

# for parsing HTML (used in cc_index_word_count.py)
beautifulsoup4
lxml

# for HDFS support (requires environments variables JAVA_HOME and HADOOP_HOME):
#pydoop
